# Site settings
title: MyNextFireBlog
description: A blog powered by Jekyll and GitHub Pages
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://mynextfireblog.github.io" # the base hostname & protocol for your site

# Build settings
markdown: kramdown
# theme: minima  # Commented out to use custom layouts
plugins:
  - jekyll-feed
  - jekyll-seo-tag

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

