{% if page.layout == 'post' %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ page.title | jsonify }},
  "description": {{ page.excerpt | default: page.description | default: site.description | strip_html | truncatewords: 25 | jsonify }},
  {% if page.featured_image %}
  "image": "{{ page.featured_image | prepend: site.baseurl | prepend: site.url }}",
  {% endif %}
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "dateModified": "{{ page.last_modified_at | default: page.date | date_to_xmlschema }}",
  "author": {
    "@type": "Person",
    "name": {{ page.author | default: site.author | jsonify }},
    "url": "{{ site.url }}{{ site.baseurl }}/about/"
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ site.title | jsonify }},
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.url }}{{ site.baseurl }}/assets/images/mynextfire.webp"
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.url }}{{ site.baseurl }}{{ page.url }}"
  }
}
</script>
{% endif %}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Blog",
  "name": {{ site.title | jsonify }},
  "description": {{ site.description | jsonify }},
  "url": "{{ site.url }}{{ site.baseurl }}/",
  "author": {
    "@type": "Person",
    "name": {{ site.author | jsonify }}
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ site.title | jsonify }},
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.url }}{{ site.baseurl }}/assets/images/mynextfire.webp"
    }
  }
}
</script>

